/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*, 
* ::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.big-wrapper{
    padding:1rem 0rem 0rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f1f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    position: relative;
    /* background-color: red; */
    max-width: 81rem;
    width: 100%;
    margin: 0px auto;
    padding: 0 3rem;
    z-index: 10;
}

header{
    position: relative;
    z-index: 70;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.overlay{
    display: none;

}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .logo img{
    width: 40px;
    margin-right: 16px;

} */

.logo h3{
    color:orange;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}

.links ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.links a{
    font-size: 1.2rem;
    color: black;
    margin-left: 32px;
    display: inline-block;
    transition: 0.3s;
}

.links a:hover{
    color: orange;
    transform: scale(1.05);
}

/* .right{
    width: 100px;
} */

.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: orange !important;
    /* background-color:#fff; */
    border: 2px solid orange;
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
    
  }
  
  .btn:hover {
    color: #fff !important;
    background-color: orange;
    transform: scale(1) !important;
  }

  .divider{
    padding: 8px;
    display:inline-block;
}

.hamburger-menu{
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: 0.5s;
}

.bar::before, .bar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 3px;
    transition: 0.5s;
}

.bar::before{
    transform: translateY(-8px);
}

.bar::after{
    transform: translateY(8px);
}
.big-wrapper.active .hamburger-menu .bar {
    background-color: transparent;
  }

.big-wrapper.active .bar::before{
    transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after{
    transform: translateY(0) rotate(45deg);
}

.showcase-area .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.big-title{
    font-size: 2rem;
    color: black;
    text-transform: capitalize;
    line-height: 1.4;
}

h1{
    /* color: orange; */
    color: black;
}

.text{
    color: grey;
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 1.7;
}

.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
  }



.kardusBox{
    width: 115%;
    transform: translate(15%, 25px);
}

.container-product{
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0px auto;
    padding: 0 3rem;
    padding-top: 7rem;
    z-index: 10;
}

.title-Product{
    /* padding: 10rem 0rem; */
    justify-content: center;
    text-align: center;
    
}

.row-product{
    display: flex;
    /* flex-wrap: wrap; */
}



.row-product .product-information-item, 
.row-product .product-any-device, 
.row-product .product-keyword-item, 
.row-product .product-cart{
    /* height: 100%; */
    flex-basis: 25%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid orange; */
    
}

.product-img{
    width: 65%;
    transform: translate(30%, 25px);
}

.product-text{
    padding: 1.5rem 1.5rem;
    margin: 1rem 0rem;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(53, 53, 53);
}

.container-contact{
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0px auto;
    padding: 0 3rem;
    padding-top: 7rem;
    z-index: 10;
}

.title-contact{
    justify-content: center;
    text-align: center;
    
}

.container-contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
  }
  .content .image-box{
    max-width: 50%;
  }
  .content .image-box img{
    width: 100%;
  }
  .content .topic{
    font-size: 22px;
    font-weight: 500;
    color: orange;
  }
  .content form{
    width: 40%;
    /* margin-right: 30px; */
  }
  .content .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
  }
  .content .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #f8ede1;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .content .input-box input:focus,
  .content .input-box input:valid{
    border-color:orange;
    background-color: #f1f8fc;
  }
  .content .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .content .input-box input:focus ~ label,
  .content .input-box input:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    color: orange;
    background: #f1f8fc;
  }

  .content .input-box input[type="submit"]{
    color: orange;
    background: #F1F8FC;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .content .input-box input[type="submit"]:hover{
    color: #f1f8fc;
    background-color: orange;
  }

#Footer{
    background: rgb(20, 20, 20);
    padding: 2rem 0rem 0rem;
}
.container-footer{
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0px auto;
    padding: 0 3rem;
}
.row-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    justify-content: center;
    text-align: left;
   
}

.row-footer h3{
    color: orange;
    padding: 0px 20px;
}

.row-footer p{
    color: #f1f8fc;
    font-size: 14px;
    padding: 0px 20px;
     /* text-align: justify; */
}

/* .footer-info .footer-links .footer-member{
    padding: 0px 20px;
} */
  

  .footer-member li{
    list-style: none;
    color: #f1f8fc;
    padding: 0px 20px;
    font-size: 14px;
  }

  .footer-bottom{
    background: #000;
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: wheat;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    color: orange;
    text-transform: uppercase;
    /* font-weight: bold; */
}


.instagram{
    width: 48px;
    padding: 0px 20px;
}
.instagram-btn{
    width: 48px;
}
.instagram-btn:hover{
    opacity: 0.7;
}

@media screen and (max-width : 870px){

    .hamburger-menu{
        display: flex;
    }
    .links{
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        background-color: grey;
        z-index: 95;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 0.5s;
    }
    
    .links ul{
        flex-direction: column;
    }

    .links a{
        color: white;
        margin-left: 0;
        padding: 2rem 0;
    }

    .links .btn {
        background: none;
      }

    .overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        pointer-events: none;
    }

    .big-wrapper.active .links{
        transform: translateX(0);
        box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
    }

    .big-wrapper.active .overlay{
        pointer-events: all;
        opacity: 1;
    }

    .showcase-area{
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }

    .showcase-area .container{
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
    }

    .big-title{
        font-size: 1.1rem;
    }

    .text{
        font-size: 0.95rem;
        margin: 1.4rem 0 1.5rem;
    }

    .kardusBox{
        width: 100%;
        transform: none;
    }

    .logo h3{
        font-size: 1.25rem;
    }
    
    /* .container-product{
        flex-direction: column;
    } */

    .row-product{
        width: 25%;
        transform: none;
    }
    .product-text{
        margin: 1.1rem 0 1.5rem;
        text-align: center;
        font-size: 1.1rem;
        color: rgb(53, 53, 53);
    }

    .content .image-box{
        max-width: 70%;
      }
      .content{
        padding: 10px 0;
      }
}



@media screen and (max-width: 470px) {
    .container {
      padding: 0 1.5rem;
    }
  
    .big-title {
      font-size: 0.9rem;
    }
  
    .text {
      margin: 1.1rem 0 1.5rem;
    }

    .showcase-area .btn {
        font-size: 0.8rem;
      }

      .showcase-area .divider{
        margin: 1.1rem 0 1.5rem;
      }
      .content .image-box{
        display: none;
      }
      .content form{
        width: 100%;
        margin-left: 30px;
      }
  }